@model CPT373_AS2.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Username: </td>
            <td>@Html.EditorFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>@Html.PasswordFor(model => model.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn-primary" type="submit" value="Login" /></td>
        </tr>
    </table>
}

