@model CPT373_AS2.ViewModels.GOLViewModel

@{
    ViewBag.Title = "Configure Game";
}


@*TODO:
pull Game name and include in heading below*@
<h2>Configure Game </h2>
@*@{ ViewDataDictionary GolVDD = new ViewDataDictionary(Model);}*@

@{Html.RenderPartial("~/Views/Shared/_RenderUserTemplate.cshtml", Model.UserTemplates); }

@{Html.RenderPartial("~/Views/Shared/_CreateGame.cshtml", Model.UserGame);}


@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>*@

@{ 
    var viewModel = Model;
}

@section scripts {

    <script>
        function test() {
            var templateWidth = @Model.UserTemplates.Width;

        }
    </script>


}